html, body {
  color: #0D2A56;
  font-family: "Hind Vadodara", sans-serif;
  margin: 0px;
  padding: 0px; }

header {
  text-align: center;
  position: relative;
  height: 119px;
  border-bottom: 1px solid #0D2A56; }
  header .title {
    font-size: 3em;
    margin: 0px;
    padding: 0px; }
  header .sub-title {
    margin: 0px;
    padding: 0px; }

#slider-container {
  position: absolute;
  overflow: hidden;
  top: 120px;
  bottom: 20px;
  left: 0;
  right: 0;
  border-bottom: 1px solid #0D2A56; }

#slider {
  margin: 0px;
  padding: 0px;
  width: 200%;
  height: 100%;
  position: relative;
  top: 0;
  right: 0; }

.transition {
  transition: all 1s ease; }

.notransition {
  transition: all 0s ease !important; }

.slider-element {
  list-style-type: none;
  width: 50%;
  height: 100%;
  float: left; }

#next {
  position: absolute;
  bottom: 5px;
  cursor: pointer;
  font-size: 0.8em;
  right: 10px; }

#prev {
  position: absolute;
  bottom: 5px;
  cursor: pointer;
  font-size: 0.8em;
  left: 10px;
  display: none; }

#menu-container {
  font-size: 0.8em;
  z-index: 1000;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8); }

#map {
  height: 100%; }

#map-container {
  position: relative;
  height: 100%;
  border-bottom: 1px solid #0D2A56; }

#about-section {
  height: 100%;
  overflow: auto;
  border-bottom: 1px solid #0D2A56;
  padding: 20px; }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  font-size: 0.7em;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
