html, body, ul {
  margin: 0px;
  padding: 0px;
  color: #0D2A56; }

ul {
  list-style-type: none; }

#menu {
  overflow: auto; }
  #menu li {
    float: left;
    padding: 5px 10px;
    border-right: 1px solid #0D2A56;
    cursor: pointer; }
  #menu li:hover {
    background-color: #0D2A56;
    color: #fff; }

li.menu-selected {
  background-color: #0D2A56 !important;
  color: #fff; }

li.submenu-selected {
  background-color: rgba(13,42,86, 1) !important;}

#submenu {
  position: relative;
  clear: both;
  overflow: auto;
 }
  #submenu li {
    padding: 2px 5px;
    margin: 5px 5px;
    background-color: rgba(13,42,86, 0.6);
    color:#fff;
    border-radius: 5px;
    cursor: pointer;
    float: left; }
  #submenu li:hover {
    background-color: rgba(13,42,86, 1); 
  }
  #submenu .close-submenu {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: transparent;
    color: #0D2A56;
    border: none;
    font-size: 0.8em;
    cursor: pointer; }
  #submenu .close-submenu:hover {
    text-shadow: 1px 1px #aaa; }
  #submenu .close-submenu:focus {
    outline: none; }

#result {
  font-size: 64px;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
