$base-color: #FFFFFF;
$font-color: #0D2A56;
$font-family: 'Hind Vadodara', sans-serif;
$font-base: 1em;
$base-height: 120px;

@mixin standard-container{
	color: $font-color;
	font-family: $font-family;
}

@mixin remove-padmar{
	margin: 0px;
	padding: 0px;
}
@mixin border-bottom{
	border-bottom:1px solid $font-color;
}

@mixin slider-buttons{
	position:absolute;
	bottom:5px;
	cursor:pointer;
	font-size:$font-base * 0.8;
}

html, body{
	@include standard-container;
	@include remove-padmar;
}

header{
	text-align:center;
	position:relative;
	height:$base-height - 1;
	@include border-bottom;
	.title{
		font-size: $font-base * 3;
		@include remove-padmar;
	}
	.sub-title{
		@include remove-padmar;
	}
}

#slider-container{
	position:absolute;
	overflow:hidden;
	top:$base-height;
	bottom:$base-height / 6;
	left:0;
	right:0;
	@include border-bottom;
}
#slider{
	@include remove-padmar;
	width:200%;
	height:100%;
	position: relative;
	top: 0;
	right:0;
}
.transition{
   transition: all 1s ease;
}
.notransition{
   transition: all 0s ease !important;
}
.slider-element{
	list-style-type: none;
	width:50%;
	height:100%; 
	float:left;
}
#next{
	@include slider-buttons;
	right:10px;
}

#prev{
	@include slider-buttons;
	left:10px;
	display:none;
}

#menu-container{
	font-size:$font-base * 0.8;
	z-index:1000;
	position:absolute;
	top:0;
	width:100%;
	background-color:rgba(255,255,255,0.8);
}

#map{
	height:100%;
}

#map-container{
	position:relative;
	height: 100%;
	@include border-bottom;
}

#about-section{
	height: 100%;
	overflow:auto;
	@include border-bottom;
	padding:20px;
}

footer {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height: $base-height / 6;
	font-size:0.7em;
	text-align:center;
}